.popup {
  position: fixed; /* Use a fixed position to make it cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
  z-index: 999; /* Ensure the popup is above other elements */
  /* Add other styles as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-content {
  z-index: 999; /* Ensure the popup is above other elements */
  font-family: "brink-black";
  font-size: 100px;
  text-align: center;
  color: #212529;

  button {
    border: 3px solid #212529;
    background: none;
    font-size: 30px;
    padding: 4px 10px;
    letter-spacing: 0.3rem;

    &:hover {
      background: rgb(255, 94, 0);
      opacity: 1;
    }
  }
}

.portfolio-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.popup-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup-video {
  object-fit: cover; /* Resize video to cover the entire container */
  width: 100%;
  height: 100%;
}
