* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "brink-bold";
  src: url("./assets/fonts/brink-bold/Brink-Bold.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/brink-bold/Brink-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/brink-bold/Brink-Bold.woff")
      format("woff"),
    /* Safari, Android, iOS */ url("./assets/fonts/brink-bold/Brink-Bold.svg")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "brink-black";
  src: url("./assets/fonts/brink-black/Brink-Black.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/brink-black/Brink-Black.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/brink-black/Brink-Black.woff") format("woff"),
    /* Safari, Android, iOS */ url("./assets/fonts/brink-black/Brink-Black.svg")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: "Arial";
}

@media (min-width: 0px) {
  p {
    font-size: 1rem;
  }
}

@media (min-width: 1001px) {
  p {
    font-size: 1rem;
  }
}

h1 {
  font-family: "Brink-Bold";
  letter-spacing: 0.3rem;
  font-size: 2.9rem !important;
}

.vertical-text {
  width: 5vw;
  height: auto;
}

.vertical-text h2 {
  font-family: "Brink-Bold";
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  font-size: 1.4rem;
  padding: 1pt;
}

h3 {
  font-family: "Brink-Bold";
}

h4 {
  font-family: "Brink-Bold";
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  margin: 1%;
  text-align: right;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

/* Header  */

.header {
  /* height: 20.5vh; */
  display: flex;
  /* flex-flow: wrap; */
  justify-content: space-between;
  align-items: center;
  /* background: url("./assets/images/header.png"); */
  background-repeat: repeat;
}

.header > div {
  margin: 1%;
}

.header-name {
  text-align: center;
}

.header-content {
  width: 200vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#background-video {
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.icons {
  width: 4.5vw;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.pause-btn {
  color: rgba(242, 242, 242, 0.7);
}

.right-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  /* height: 22vh; this works*/
  height: 22vh;
  margin: 3vh;
  text-align: center;
}
.place-holder {
  color: none;
  background: none;
}
/* Nav  */

.nav {
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-size: 11pt;
  margin-top: 2%;
  font-family: "Arial";
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: rgba(87, 100, 103, 0.5);
}

.active {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  color: rgb(0, 0, 0);
}

/* Main */

main {
  margin-top: 0.1em;
  /* margin-top: 0.2em; */
  background-color: rgb(249, 249, 249);
}

/* Wellness */

/* About */

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  margin-left: 2px;
}

section h4 {
  margin-top: 50px;
}

article {
  flex: 1;
  padding-left: 2rem;
  padding-right: 1rem;
  margin-top: 50px;
}

.profile-image {
  width: 100%;
  max-width: 400px;

  height: auto;
  padding-left: 1rem;
  padding-right: 0.1rem;
  margin: 0 auto;
}

/* Footer  */

footer {
  width: 100%;
  margin-top: 0.1rem;
  color: rgb(211, 211, 206);
  background: rgb(242, 242, 242);

  background: rgb(247, 247, 247);
  background: rgb(249, 249, 249);

  background: rgb(227, 222, 218);
  background: rgb(250, 249, 249);
}

.footer {
  display: flex;
  margin: 1rem;
  justify-content: space-between;

  gap: 2rem 1rem;

  /* Clean this up later */
}

.footer img {
  max-width: 10%;
}

.footer .legal {
  width: 20vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer p {
  /* border-top: 0.1rem solid rgb(231, 231, 227); */
}
/* Wellness */

.wellness section {
  margin: 4vh;
}

.wellness section + div {
  width: 30vh;
  /* background: rgba(154, 86, 34, 0.5); */
  /* background: rgb(242, 242, 242); */
  /* background: rgb(193, 144, 122); */
  background: rgb(250, 249, 249);
  box-shadow: rgba(61, 58, 58, 0.1) 0px 4px 12px;
  padding: 1vh;
  border-radius: 1vh;
}

/* Buttons  */
.more {
  background-color: rgb(227, 222, 218);
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  color: white;
}

.read-more {
  /* background-color: rgb(227, 222, 218); */
  background: none;
  border-radius: 0.2rem;
  border: none;
  padding: 0.15rem;
  color: rgb(52, 51, 51);
}

/* Projects */

.portfolio-content {
  margin-right: 20px;
  margin: 0 auto;
}

/* Tutorials */

/* Make a website  */
.blog-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
